$theme-colors: (
  "primary": #c0c350,
  "secondary": #81821c,
  "success": #7bd095,
  "info": #d1ffd0,
  "warning": #ffea47,
  "danger": #ffad88,
);
$color: #02495d;
$light: #f7f4e5;

$body-bg: #ffffff;
$body-color: $color;

$border-radius: 10rem;

*{
  font-family: 'Raleway', sans-serif;
}
html{
  height: 100%;
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    header{
      flex: 0 0 auto;
      a {
        i{
          color: $color;
        }
        span{
          color: $color;
        }
      }
      #navbarNav .navbar-nav li a{
        color: $color;
        &:hover{
          color: #ffad88;
        }
      }
    }
    .main-content{
      flex: 1 0 auto;
    }
    footer{
      flex: 0 0 auto;
    }
  }
}

@import "node_modules/bootstrap/scss/bootstrap";